.impress-enabled {
  pointer-events: none;

  #impress {
    pointer-events: auto;
  }
}

a[href*="#"] {
  pointer-events: none; // Local anchors are not well supported
}

.step {
  position: relative;
  // Set a step size to 1280*720 px
  $width: 1280px;
  $height: $width*9/16;
  width: $width;
  height: $height;

  @include m-x-auto(); // Center a step
  @include p-a-md(); // Add some paddings
  @include make-row();
}

.slide {
  width: 100%; // Take all available space in the step
  display: flex;
  flex-direction: column; // Slide is composed of a header, a main part, and a footer
  justify-content: space-between; // header and footer stick to top and bottom
  align-items: stretch; // Three parts take full width

  header, footer {
    @include p-y-sm();
    @extend .col-stretch;
  }

  header {
    @include border-top-radius(); // Slide is rounded
    @include p-x-lg();
    @extend .text-center;
    @extend .bg-primary; // Invert colors
    * { color: $body-bg; }
  }

  main {
    flex-grow: 1; // Main part take as place as possible
    @include make-row();
    @include make-col();
    @include make-col-span($grid-columns);
    @include p-y-sm();
  }

  footer {
    @include border-bottom-radius(); // Slide is rounded
    @include p-x-sm();
  }
}
section {
  @include make-col();
  @include make-col-span($grid-columns);
}
