@media print {
  body {
    background: white;
    width: 210*$ppm;
    overflow: initial !important;

    div#impress {
      position: initial !important;
      transform: initial !important;

      > div {
        position: initial !important;
        transform: initial !important;

        .step {
          width: 180*$ppm;
          position: inital !important;
          transform: inital !important;
          border: 1px solid black;
          page-break-inside: avoid;
        }
      }
    }
  }

}
