/* **********************************************
 *
 * Visibility
 *
 * *********************************************/

@mixin visible() {
  visibility: visible;
  opacity: 1;
}

@mixin invisible() {
  visibility: hidden;
  opacity: 0;
}

@mixin hidden() {
  visibility: hidden;
}

@mixin transparent($opacity: 0) {
  opacity: $opacity;
}

