/* Redefine sizes in pixels
 * 3px per millimeter (~72ppi)
 * 4px per millimeter (~96ppi)
 * 6px per millimeter (~150ppi)
 * 12 px per millimeter (~300ppi)
 */

$ppm: 4px !default; // Pixels per millimeters
$pppt: ceil(0.35278 * $ppm) !default; // Pixels per point

//== Colors
$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$brand-primary:         #274166 !default; // UGA blue
$brand-success:         #5cb85c !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.

$spacer:                     1rem !default;
$spacer-x:                   $spacer !default;
$spacer-y:                   $spacer !default;
$border-width:               .0625rem !default;

/* Settings for some of the most global styles. */

$body-bg:               #fff !default;
$body-color:            $gray-dark !default;
$link-color:            $brand-primary !default;
$component-active-color:    $body-bg !default;
$component-active-bg:       $brand-primary !default;

// Form states and alerts
//
// Define colors for form feedback states and, by default, alerts.

$state-success-text:             #3c763d !default;
$state-success-bg:               #dff0d8 !default;
$state-success-border:           darken($state-success-bg, 5%) !default;

$state-info-text:                #31708f !default;
$state-info-bg:                  #d9edf7 !default;
$state-info-border:              darken($state-info-bg, 7%) !default;

$state-warning-text:             #8a6d3b !default;
$state-warning-bg:               #fcf8e3 !default;
$state-warning-border:           darken($state-warning-bg, 5%) !default;

$state-danger-text:              #a94442 !default;
$state-danger-bg:                #f2dede !default;
$state-danger-border:            darken($state-danger-bg, 5%) !default;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Liberation Sans", sans-serif !default;
$font-family-serif:       "Liberation Serif", serif !default;
$font-family-monospace:   "Inconsolata", monospace !default;
$font-family-icon:        "Font Awesome" !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-root:          30 * $pppt; // 30pt set as pixel number. It's used as the rem unit
$font-size-base:          1rem !default;
$font-size-large:         1.25rem !default; // ~38pt
$font-size-small:         0.85rem !default; // ~26pt

$font-size-h1:            2.5rem !default;
$font-size-h2:            2rem !default;
$font-size-h3:            1.75rem !default;
$font-size-h4:            1.5rem !default;
$font-size-h5:            1.25rem !default;
$font-size-h6:            1rem !default;

$headings-margin-bottom:     ($spacer-x / 2) !default;
$headings-font-family:       inherit !default;
$headings-font-weight:       500 !default;
$headings-line-height:       1.1 !default;
$headings-color:             inherit !default;

$text-muted:                 $gray-light !default;

//== Components

$line-height-lg:         (4/3) !default;
$line-height-sm:         1.5 !default;

$hr-border-color:        rgba(0,0,0,.1) !default;
$hr-border-width:        $border-width;
$hr-margin:              ($spacer-y / 2) !default;

$border-radius:          .25rem !default;
$border-radius-lg:       .3rem !default;
$border-radius-sm:       .2rem !default;

//== Grid system

//** Number of columns in the grid.
$grid-columns:              12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         2 * $spacer-x !default;

//== Tables

$table-cell-padding:            .75rem !default;
$table-sm-cell-padding:         .3rem !default;

$table-bg:                      transparent !default;
$table-bg-active:               #f5f5f5 !default;

$table-border-color:            $gray-lighter !default;

// Image thumbnails

$thumbnail-padding:           .25rem !default;
$thumbnail-bg:                $body-bg !default;
$thumbnail-border:            #ddd !default;
$thumbnail-border-radius:     $border-radius !default;


// Code

$code-color:                  #bd4147 !default;
$code-bg:                     $gray-lightest !default;

$kbd-color:                   $body-bg !default;
$kbd-bg:                      $body-color !default;

$pre-bg:                      $gray-lightest !default;
$pre-color:                   $gray-dark !default;
$pre-border-color:            #ccc !default;
