// Header font
@import url(https://fonts.googleapis.com/css?family=Nunito:300,400,700);
$headings-font-family:       'Nunito';
$headings-font-weight:       bolder;
$font-size-root-pt:          18; 

@import "vinyl/variables";

$grid-gutter-width:         3 * $spacer-x;

// Override to match the Zenburn default code highliting theme
$pre-bg:                    #3f3f3f;
$pre-color:                 #dcdcdc;
$pre-border-color:          darken($pre-bg, 10%);
