// Header font
@import url(https://fonts.googleapis.com/css?family=Nunito:300,400,700);
$headings-font-family:       'Nunito';
$headings-font-weight:       bolder;
$font-size-root-pt:          18; 

@import "vinyl/variables";

$grid-gutter-width:         3 * $spacer-x;
