// Automatic numbering of titles
// TODO: move it to the general vinyl framework
// TODO: add autonumbering of tables/algorithm/figures/etc.
header {
  counter-reset: h2Counter;
}

main {
  // Common style for any title
  @for $i from 2 through 6 {
    h#{$i} {
      counter-reset: h#{$i+1}Counter; // Reset counter of sub-parts
      margin-left: $i - 2em;
      &:before {
        display: inline-block;
        width: 2em;
        counter-increment: h#{$i}Counter // Increment counter of our own part
      }
    }
  }

  // Title numbering display style
  h2:before {
    content: counter(h2Counter);
  }
  h3:before {
    content: counter(h2Counter) "." counter(h3Counter);
  }
  h4:before {
    content: counter(h4Counter);
  }
  h5:before {
    content: counter(h5Counter, lower-alpha);
  }
  h6:before {
    content: counter(h5Counter, lower-roman);
  }
}


// Annexes counter use Upper latin
footer {
  counter-reset: h2Counter;

  h2 {
    &:before {
      content: counter(h2Counter, upper-latin);
      display: inline-block;
      width: 2em;
      counter-increment: h2Counter;
    }
  }
}
