// Row
//
// Rows contain and clear the floats of your columns.

.row {
  @include make-row();
}


// Columns
@include make-grid-columns();

// Allow separators between columns

// Add a separator to only one column (on the right or the left. Default: right)
[class^="col-"] {
  &.separator, &.separator-right {
    border-right: $hr-border-width solid $hr-border-color;
  }
  &.separator-left {
    border-left: $hr-border-width solid $hr-border-color;
  }
}

// Add a separator to every columns in a row
.row.separators {
  & > [class^="col-"] {
    @extend .separator-right;

    &:last-child {
      border-right: none;
    }
  }
}

// Flex variation
//
// Custom styles for additional flex alignment options.

// Flex column reordering

.col-first { order: -1; }
.col-last { order: 1; }

// Alignment for every column in row

.row-top      { align-items: flex-start; }
.row-center   { align-items: center; }
.row-bottom   { align-items: flex-end; }
.row-stretch  { align-items: stretch; }

// Alignment per column

.col-top      { align-self: flex-start; }
.col-center   { align-self: center; }
.col-bottom   { align-self: flex-end; }
.col-stretch  { align-self: stretch; }
