/* **********************************************
 *
 * vinyl/grid
 *
 * *********************************************/

// Define classes using flex-grid-framework placeholder selectors
.row {
  @extend %row;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    @extend %col-#{$i};
  }
}

@for $i from 1 through 11 {
  .col-offset-#{$i} {
    @extend %offset-#{$i};
  }
}

/* ************************************************
 * Allow separators between columns
 */

// Add a separator to only one column (on the right or the left. Default: right)
[class *= "col-"].separator,
[class *= "col-"].separator-right {
  border-right: $vnl-width-hr solid $vnl-color-hr;
}
[class *= "col-"].separator-left {
  border-left: $vnl-width-hr solid $vnl-color-hr;
}

// Add a separator to every columns in a row
.row.separators {
  & > [class *= "col-"] {
    @extend .separator-right;

    &:last-child {
      border-right: none;
    }
  }
}

