//
// Bibliography and references
//

ul#bibliography {
  @extend .list-unstyled;
  @extend small;
  margin: 0;

  .ref {
    margin-right: 1ex;
  }
}

.ref {
  font-family: $font-family-serif;
  font-weight: bold;
  color: $body-color;
}
