//
// Bibliography and references
//

ul#bibliography {
  @extend .list-unstyled;
  margin: 0;
}

@import "references/plain";
@import "references/apalike";

// Avoid blue link for references and citation
.cite a, a.ref {
  color: inherit;

  &:hover {
    color: inherit;
  }
}
