//
// Basic Bootstrap table
//

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $spacer;

  th,
  td {
    padding: $table-cell-padding;
    vertical-align: middle;
    border-top: 1px solid $table-border-color;
  }

  thead th {
    vertical-align: bottom;
    border-bottom: 2px solid $table-border-color;
  }

  tbody + tbody {
    border-top: 2px solid $table-border-color;
  }

  .table {
    background-color: $body-bg;
  }
}


//
// Condensed table w/ half padding
//

table.small {
  th,
  td {
    padding: $table-sm-cell-padding;
  }
}


// Bordered version
//
// Add borders all around the table and between all the columns.

.table-bordered {
  border: 1px solid $table-border-color;

  th,
  td {
    border: 1px solid $table-border-color;
  }

  thead {
    th,
    td {
      border-bottom-width: 2px;
    }
  }
}


// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.table-striped {
  tbody tr:nth-of-type(odd) {
    background-color: $table-bg-active;
  }
}

// Table backgrounds
//
// Exact selectors below required to override `.table-striped` and prevent
// inheritance to nested tables.

// Generate the contextual variants
@include table-row-variant(active, $table-bg-active);
@include table-row-variant(success, $state-success-bg);
@include table-row-variant(warning, $state-warning-bg);
@include table-row-variant(danger, $state-danger-bg);

.thead-inverse {
  th {
    color: $body-bg;
    background-color: $gray-dark;
  }
}
.thead-default {
  th {
    color: $gray;
    background-color: $gray-lighter;
  }
}

.table-inverse {
  color: $gray-lighter;
  background-color: $gray-dark;

  &.table-bordered {
    border: 0;
  }

  th,
  td,
  thead th {
    border-color: $gray;
  }
}
