//
// Basic Bootstrap table
//

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $vnl-spacer-y;
  background-color: $vnl-color-table-bg;

  th,
  td {
    padding: $vnl-padding-td;
    vertical-align: middle;
    border-top: $vnl-width-border solid $vnl-color-border;
  }

  thead th {
    vertical-align: bottom;
    border-bottom: 2*$vnl-width-border solid $vnl-color-border;
  }

  tbody + tbody {
    border-top: 2*$vnl-width-border solid $vnl-color-border;
  }
}


//
// Condensed table w/ half padding
//

table.small {
  th,
  td {
    padding: $vnl-padding-td-sm;
  }
}


// Bordered version
//
// Add borders all around the table and between all the columns.

.table-bordered {
  border: $vnl-width-border solid $vnl-color-border;

  th,
  td {
    border: $vnl-width-border solid $vnl-color-border;
  }

  thead {
    th,
    td {
      border-bottom-width: 2*$vnl-width-border;
    }
  }
}


// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.table-striped {
  tbody tr:nth-of-type(odd) {
    background-color: $vnl-color-table-bg-active;
  }
}

// Table backgrounds
//
// Exact selectors below required to override `.table-striped` and prevent
// inheritance to nested tables.

table.thead-inverse {
  th {
    color: $vnl-color-inverted-root;
    background-color: $vnl-color-inverted-root-bg;
  }
}
table.thead-default {
  th {
    color: $vnl-color-root;
    background-color: $vnl-color-table-bg;
  }
}

.table-inverse {
  color: $vnl-color-table-bg;
  background-color: $vnl-color-root;

  &.table-bordered {
    border: 0;
  }

  th,
  td,
  thead th {
    border-color: $vnl-color-table-bg;
  }
}
