/* **********************************************
 *
 * vinyl/type
 *
 * *********************************************/

/* **********************************************
 * Base
 */

// Add margin around <p> elements
p {
  margin: $vnl-margin-block;
}

// Justify text in rows
.row p {
  text-align: justify;
}

/* **********************************************
 * Headings
 */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $vnl-font-family-heading;
  font-weight: $vnl-font-weight-heading;
  line-height: $vnl-line-height-heading;
  color: $vnl-color-heading;
  margin: $vnl-margin-block;

  small, .small {
    line-height: $vnl-line-height-sm;
    color: $gray;
  }
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }

/* **********************************************
 * Horizontal rules
 */

hr {
  margin: $vnl-margin-hr;
  border: 0;
  border-top: $vnl-width-hr solid $vnl-color-hr;
}

/* **********************************************
 * Lists
 */

ol {
	list-style-type: decimal;
}

ul {
	list-style-type: disc;
  
  ul {
  	list-style-type: square;
  
    ul {
    	list-style-type: circle;
    }
  }
}

// Unstyled keeps list items block level, just removes default browser padding and list-style
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-pros-cons {
  list-style: none;

  & > li {
    &:before {
      font-family: $font-family-icon;
      margin-right: 1ex;
      font-size: 85%;
    }
    &.pros:before {
      content: "\f055";
      color: $vnl-brand-success;
    }
    &.cons:before {
      content: "\f056";
      color: $vnl-brand-danger;
    }
  }
}

// Inline turns list items into inline-block
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;

  > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }
}

// Horizontal description lists w/ grid classes
.dl-horizontal {
  margin-right: -2 * $vnl-spacer-x;
  margin-left: -2 * $vnl-spacer-x;
}


/* **********************************************
 * Misc
 */

// Builds on `abbr`
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

a {
  font-family: $font-family-monospace;
}

/* **********************************************
 * Figures
 */

figure {
  //@extend .center-block;
  //@extend .text-center;
  // Ensures the caption's text aligns with the image.
  display: inline-block;
  padding: $vnl-padding-td;
  @include border-radius();
  border: $vnl-width-border solid $vnl-color-border;

  > img {
    //@extend .img-responsive;
    //@extend .center-block;
    line-height: 1;
    margin-bottom: ($vnl-spacer-y / 2);
  }
}

figcaption,
caption {
  color: $gray-light;
}
