/* **********************************************
 *
 * vinyl/type
 *
 * *********************************************/

/* **********************************************
 * Base
 */

// Add margin around <p> elements
p {
  margin: $vnl-margin-block;
}

// Justify text in rows
.row {
  text-align: justify;
}

/* **********************************************
 * Headings
 */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $vnl-font-family-heading;
  font-weight: $vnl-font-weight-heading;
  line-height: $vnl-line-height-heading;
  color: $vnl-color-heading;
  margin: $vnl-margin-block;

  small, .small {
    line-height: $vnl-line-height-sm;
    color: $gray;
  }
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }

/* **********************************************
 * Horizontal rules
 */

hr {
  margin: $vnl-margin-hr;
  border: 0;
  border-top: $vnl-width-hr solid $vnl-color-hr;
}

/* **********************************************
 * Lists
 */

ol, ul {
  margin: $vnl-margin-block;
  list-style-position: inside;
}

ol {
	list-style-type: decimal;
}

ul {
	list-style-type: disc;

  ul {
  	list-style-type: square;

    ul {
    	list-style-type: circle;
    }
  }
}

// Unstyled keeps list items block level, just removes default browser padding and list-style
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-pros-cons {
  list-style: none;

  & > li {
    &:before {
      @include m-r-sm();
    }
    &.pros {
      @extend .mdi;
      @extend .mdi-plus-circle;
      &:before {
        color: $vnl-brand-success;
      }
    }
    &.cons {
      @extend .mdi;
      @extend .mdi-minus-circle;
      &:before {
        color: $vnl-brand-danger;
      }
    }
  }
}

// Inline turns list items into inline-block
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;

  > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }
}

// Horizontal description lists w/ grid classes
.dl-horizontal {
  margin-right: -2 * $vnl-spacer-x;
  margin-left: -2 * $vnl-spacer-x;
}


/* **********************************************
 * Misc
 */

// Builds on `abbr`
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

a {
  font-family: $font-family-monospace;
}

/* **********************************************
 * Figures
 */

figure {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: $vnl-padding-td/2;
  @include border-radius();
  border: $vnl-width-border solid $vnl-color-border;

  > img {
    margin-bottom: $vnl-spacer-y;
    width: 100%;
    height: 100%;
  }
}

figcaption,
caption {
  color: $gray-dark;
}
