/* **********************************************
 *
 * Vinyl/text-utilities
 *
 * *********************************************/

// Alignment

.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

// Transformation

.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

// Contextual colors

.text-muted {
  color: $vnl-color-muted;
}
.bg-faded {
  background-color: $vnl-color-muted;
}

@each $brand-id, $brand-color in $vnl-brand-colors {
  .text-#{$brand-id} {
    color: $brand-color;
  }

  .bg-#{$brand-id} {
    color: $gray-lightest;
    background-color: $brand-color;
  }
}
