
/* Vinyl comes with fonts */
@font-face {
  font-family: "Nunito";
  font-weight: bold;
  src: url("../font/Nunito-Bold.ttf") format("truetype");
} 
@font-face {
  font-family: "Inconsolata";
  src: url("../font/Inconsolata-Regular.ttf") format("truetype");
} 

@import 'settings';

@import 'settings/sanitize';
@import '../assets/libs/sanitize-css/sanitize.scss';
@import '../assets/libs/flex-grid-framework/flex-grid-framework';

@import 'mixins';

@import "vinyl/grid";
@import "vinyl/type";
@import "vinyl/code";
@import "vinyl/utilities";
@import "vinyl/utilities-spacing";
