---
---

// Load global settings
@import "settings";

// Load Reveal settings
@import "settings/reveal";

// Override the settings
$rvl-color-heading: $vnl-brand-primary;
$rvl-text-transform-heading:  none;

// Apply settings
@import "reveal/theme/template/theme";

@keyframes ironmanSafe {
  from {
    transform: translateY(-50%) rotateZ(0deg) scale(0.33);
  }
  to {
    transform: translateY(50%) rotateZ(360deg) scale(0.33);
  }
}
@keyframes ironmanDead {
  from {
    transform: translateY(-50%) rotateZ(0deg) scale(0.33);
  }
  to {
    transform: translateY(75%) rotateZ(450deg) scale(0.33);
  }
}

#ironman-standup {
  height: 250px;
  animation-timing-function: ease-in;
  animation-name: ironmanSafe;
}
#ironman-dead{
  height: 250px;
  animation-timing-function: ease-in;
  animation-name: ironmanDead;
}

.fragment {
  &.bg-success, &.bg-danger {
    transition-property: background-color, color;
    transition-duration: $rvl-fragment-duration;

    &:not(.visible) {
      background-color: $rvl-color-root-bg !important;
      color: $rvl-color-root !important;
    }
  }
}
