/* **********************************************
 * 
 * Flex grid framework variables
 * 
 * *********************************************/

$flx-padding: $vnl-spacer-x/2;
$flx-margin: 0%;
$flx-max-width: 100%;
$flx-column_number: 120;
