.plain-style-cite {
  font-family: $font-family-serif;
  font-weight: bold;

  * {
    color: inherit;
  }
}

.plain-style-citation-item {
  .citation-item-id {
    @extend .plain-style-cite;
    color: inherit;
  }

  .citation-item-journal, .citation-item-series {
    .content {
      font-style: italic;
    }
  }

  &.book-citation-item {
    .citation-item-title {
      font-style: italic;
    }
  }
}
