// Framework grid generation
//
// Used only by Bootstrap to generate the correct number of grid classes given
// any value of `$grid-columns`.

@mixin make-grid-columns($columns: $grid-columns, $gutter: $grid-gutter-width) {
  // Common properties for all breakpoints
  %grid-column {
    position: relative;
    // Prevent columns from collapsing when empty
    min-height: 1px;
    // Inner gutter via padding
    padding-left: ($gutter / 2);
    padding-right: ($gutter / 2);
  }
  @for $i from 1 through $columns {
    .col-#{$i} {
      @extend %grid-column;
    }
  }
  @for $i from 1 through $columns {
    .col-#{$i} {
      @include make-col-span($i, $columns);
    }
  }
  @each $modifier in (pull, push, offset) {
    @for $i from 0 through $columns {
      .col-#{$modifier}-#{$i} {
        @include make-col-modifier($modifier, $i, $columns)
      }
    }
  }
}
