/* Define some property of the page */


body {
  position: relative;

  // Set the A0 size, 841*1189 mm
  width: 841 * $ppm;
  height: 1189 * $ppm;
  margin: 0 auto; // Center the page for a pretty display
  padding: $spacer-y $spacer-x; // Set printer margins

  // Most of the content on a page is designed as rows. So a page is a stack of rows. Here we expect
  // a header, a main part and a footer. Header and footer will stick at the top and the bottom.
  // Three parts will be stretched on the whole width of the page.
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  // Pretty display
  @include box-shadow($ppm $ppm 5 * $ppm black);
}

// Some guides that display dotted line on the page to help you organizing your content.
.guides {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  z-index: 10;
  pointer-events: none;
  @media print {
    display: none;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 33.3%; bottom: 33.3%;
    left: 0; right: 0;
    border-top: 1px dotted green;
    border-bottom: 1px dotted green;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0; bottom: 0;
    left: 33.3%; right: 33.3%;
    border-right: 1px dotted green;
    border-left: 1px dotted green;
  }
}


// The main part of your document
main {
  flex: 1; // It will be expanded vertically to take as place as possible.
  @include make-row();
  margin-left: 0;
  margin-right: 0;

  // Each subsection is separated from the following
  > section {
    margin-bottom: $spacer-y;

    h2 {
      @include make-row();
      padding-left: 0.5ex;
    }
  }

  section {
    @include make-col();
    @include make-col-span($grid-columns);
    
    .content {
      @include make-row();
    }
  }
}
