header {
  h1 {
    color: $brand-primary;
    font-variant: small-caps;

    small {
      color: #777;
      font-variant: normal;
    }
  }
}

main > section {
  // Sections are designed as rounded cards
  @include border-radius();
  position: relative;

  // Weird workaround to print the drop shodow...
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0; bottom: 0;
    right: 0; left: 0;
    @include border-radius();
    box-shadow: 0 0 1ex $gray-dark;
    -webkit-print-color-adjust:exact;
    -webkit-filter:blur(0);
  }

  // Make title catchy with inverted colors
  h2 {
    @include border-top-radius();
    display: flex;
    align-items: baseline;
    background-color: $brand-primary;
    color: $body-bg;

    // Add a line from the end of title to the end of the page. We like this style
    &:after {
      content: "";
      display: block;
      margin: 0 0.5ex;
      border-bottom: $border-width solid $body-bg;
      flex: 1 1 auto;
    }
  }
}

// Add separator between two columns.
// TODO: move this to the grid-framework generator to allow it on any row/col class.
section.separator {
  border-right: $hr-border-width solid $hr-border-color;
}
