/**
 * Define specific variables for posters
 */

// On A0 document, you need a big font
$font-size-root-pt:             30;

// Header font
@import url(https://fonts.googleapis.com/css?family=Nunito:300,400,700);
$headings-font-family:       'Nunito';
$headings-font-weight:       bolder;


@import "../vinyl/variables";
